@import "assets/sass/colors";
@import "assets/sass/functions";

table {
  border-collapse: collapse;
  width: 100%;
}

.error {
  display: block;
  color: #ff0000;
  margin-bottom: 10px;
  font-size: em(13px);
}

.success {
  padding-left: 20px;
  color: #00a546;
}

.efg-btn-arrow {
  width: 26px;
  height: 1px;
  display: inline-block;
  background: #00a546;
  position: relative;
  vertical-align: middle;
  margin: 0 0 0 15px;
  transition: all 0.2s ease-in-out;

  &:before,
  &:after {
    content: "";
    width: 1px;
    height: 13px;
    display: block;
    position: absolute;
    background: inherit;
    right: 0;
  }

  &::before {
    transform-origin: bottom;
    transform: rotate(-45deg);
    bottom: 0.5px;
  }

  &:after {
    transform-origin: top;
    transform: rotate(45deg);
    top: 0.5px;
  }

  &.reverse {
    transform: rotate(180deg);
    margin: 0 15px 0 0;
  }
}
